.slide_img {
  width: 100%;
  object-fit: fill;
  height: 500px;
}
.register-content {
  position: relative;
  width: 100%;
  height: 64px;
  background: url(../image/pattern.png) repeat center top;
  background-clip: border-box;
  -webkit-background-clip: border-box;
  border-bottom: 1px solid #fff;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  .register-wrap {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
    z-index: 19;
  }
  ul {
    display: inline-block;
    overflow: hidden;
    list-style: none;
    li {
      float: left;
      margin-right: 30px;
      .btn-register {
        background: url(../image/icon-register.png) no-repeat left 1px;
        a {
          padding: 25px 0 23px 71px;
          display: block;
        }
      }
      .btn-login {
        background: url(../image/icon-login.png) no-repeat left top;
        a {
          padding: 25px 0 23px 42px;
          display: block;
        }
      }
    }
  }
  .hotline {
    float: right;
    font-family: "Futurab";
    font-weight: normal;
    font-size: 30px;
    color: #f37520;
    background: url(../image/icon-call.png) no-repeat left 7px;
    padding: 15px 0 19px 58px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
  }
}
