.footer_content {
  h2 {
    color: yellow;
  }
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 350px;
  background: url(../image/line-bg.png) repeat-x left top;
  background-size: contain;
  -webkit-background-size: contain;
}

.footer {
  border-top: 2px white solid;
  color: yellow;
  text-align: center;
}
.footer_width {
  width: 100%;
}
